@model Экзамен.Models.ViewModels.LoginViewModel

<h4>Вход</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" />
                    @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
           @* <div class="form-group">

                <input asp-for="ReturnUrl" type="hidden" class="form-control"/>

            </div>*@
            <div class="form-group  class=" m-2"">
                <input type="submit" value="Вход" name="Login" class="btn btn-primary" style="width:200px" />
            </div>
        </form>
        <br />
        <a asp-controller="Account" asp-action="Clear" class="btn btn-primary m-2" style="width:200px">Отмена</a>
    </div>
</div>



